
CallJS/CallJS/bin/Debug/CallJS.exe
CallJS/CallJS/bin/Debug/CallJS.exe.config
CallJS/CallJS/bin/Debug/CallJS.pdb
CallJS/CallJS/bin/Debug/CallJS.vshost.exe
CallJS/CallJS/bin/Debug/CallJS.vshost.exe.config
*.manifest
*.exe
*.pdb
CallJS/CallJS/obj/Debug/CallJS.csproj.FileListAbsolute.txt
CallJS/CallJS/obj/Debug/CallJS.csproj.GenerateResource.Cache
CallJS/CallJS/bin/Release/CallJS.exe.config
CallJS/CallJS/bin/Debug/StockList.xml
CallJS/CallJS/bin/Release/CallJS.vshost.exe.config
CallJS/CallJS/obj/Debug/CallJS.csprojResolveAssemblyReference.cache
CallJS/CallJS/obj/Debug/CallJS.main.resources
CallJS/CallJS/obj/Debug/CallJS.Properties.Resources.resources
*.cache
CallJS/CallJS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CallJS/CallJS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CallJS/CallJS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CallJS/CallJS/obj/Release/CallJS.csproj.FileListAbsolute.txt
CallJS/CallJS/obj/Release/CallJS.main.resources
CallJS/CallJS/obj/Release/CallJS.Properties.Resources.resources
CallJS/CallJS/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CallJS/CallJS/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CallJS/CallJS/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
